{{define "contact"}}
<div class="contact">

    <p>
        <b>Email:</b>
        <span class="copy" onclick="copyText('harinandan0555@gmail.com')">
            harinandan0555@gmail.com
        </span>
    </p>

    <p>
        <b>Phone:</b>
        <span class="copy" onclick="copyText('+917736983966')">
            +91 773 6986 963
        </span>
    </p>

    <p>
        <b>GitHub:</b>
        <a href="https://github.com/deltrexgg" target="_blank">
            github.com/deltrexgg
        </a>
    </p>

    <p>
        <b>LinkedIn:</b>
        <a href="https://linkedin.com/in/harinandan0555" target="_blank">
            linkedin.com/in/harinandan0555
        </a>
    </p>

</div>
{{end}}