{{define "portfolio"}}

<h2>Build using Go + html</h2>
<p>
This portfolio is built using <b>Go with HTML templates and Server Side Rendering (SSR) </b>.
The server handles the rendering process by combining reusable components, templates, and data before sending the final HTML page to the browser.
<br>
Each section of this portfolio is organized as an independent template component, similar to a component-based frontend architecture.
Go manages the backend logic and template execution, while HTML and CSS handle the user interface, keeping the application lightweight, fast, and easy to maintain.
<br>
The flow is simple: a request reaches the Go server, the required templates are loaded, data is injected into the templates, and a complete HTML response is generated and delivered to the user.

</p>

{{end}}